### Importación de datos

In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()
# tienda2["precio"].head()
# tienda3.head()
# tienda4.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [7]:
precio_tienda = tienda["Precio"].sum()  
precio_tienda2 = tienda2["Precio"].sum()
tienda3_precio = tienda3["Precio"].sum()
tienda4_precio = tienda4["Precio"].sum()

print("El Ingresos Totales de la tienda 1 es: $", precio_tienda)
print("El Ingresos Totales de la tienda 2 es: $", precio_tienda2)
print("El Ingresos Totales de la tienda 3 es: $", tienda3_precio)
print("El Ingresos Totales de la tienda 4 es: $", tienda4_precio)

El Ingresos Totales de la tienda 1 es: $ 1150880400.0
El Ingresos Totales de la tienda 2 es: $ 1116343500.0
El Ingresos Totales de la tienda 3 es: $ 1098019600.0
El Ingresos Totales de la tienda 4 es: $ 1038375700.0

# 2. Ventas por categoría

In [ ]:
productos_por_categoria = (
    tienda
      .groupby("Categoría del Producto")["Producto"]
      .count()
)


categoria_top = productos_por_categoria.idxmax()   # nombre de la categoría
cantidad_top = productos_por_categoria.max()       # cantidad vendida


print("----Tienda 1----")
print("Categoría más vendida o popular:", categoria_top)
print("Cantidad vendida:", cantidad_top)

print("----")

print(productos_por_categoria)

----Tienda 1----
Categoría más vendida: Muebles
Cantidad vendida: 465
----
Categoría del Producto
Artículos para el hogar    171
Deportes y diversión       284
Electrodomésticos          312
Electrónicos               448
Instrumentos musicales     182
Juguetes                   324
Libros                     173
Muebles                    465
Name: Producto, dtype: int64

In [ ]:
productos_por_categoria = (
    tienda2
      .groupby("Categoría del Producto")["Producto"]
      .count()
)


categoria_top = productos_por_categoria.idxmax()   # nombre de la categoría
cantidad_top = productos_por_categoria.max()       # cantidad vendida

# print("Tienda 2:",productos_por_categoria)


print("----Tienda 2----")
print("Categoría más vendida o popular:", categoria_top)
print("Cantidad vendida:", cantidad_top)

print("----")

print(productos_por_categoria)

----Tienda 2----
Categoría más vendida: Muebles
Cantidad vendida: 442
----
Categoría del Producto
Artículos para el hogar    181
Deportes y diversión       275
Electrodomésticos          305
Electrónicos               422
Instrumentos musicales     224
Juguetes                   313
Libros                     197
Muebles                    442
Name: Producto, dtype: int64

In [ ]:
productos_por_categoria = (
    tienda3
      .groupby("Categoría del Producto")["Producto"]
      .count()
)

categoria_top = productos_por_categoria.idxmax()   # nombre de la categoría
cantidad_top = productos_por_categoria.max()       # cantidad vendida


print("----Tienda 3----")
print("Categoría más vendida o popular:", categoria_top)
print("Cantidad vendida:", cantidad_top)


print(productos_por_categoria)

----Tienda 3----
Categoría más vendida: Muebles
Cantidad vendida: 499
Categoría del Producto
Artículos para el hogar    177
Deportes y diversión       277
Electrodomésticos          278
Electrónicos               451
Instrumentos musicales     177
Juguetes                   315
Libros                     185
Muebles                    499
Name: Producto, dtype: int64

In [ ]:
productos_por_categoria = (
    tienda4
      .groupby("Categoría del Producto")["Producto"]
      .count()
)


categoria_top = productos_por_categoria.idxmax()   # nombre de la categoría
cantidad_top = productos_por_categoria.max()       # cantidad vendida


print("----Tienda 3----")
print("Categoría más vendida o popular:", categoria_top)
print("Cantidad vendida:", cantidad_top)


print(productos_por_categoria)

----Tienda 3----
Categoría más vendida: Muebles
Cantidad vendida: 480
Categoría del Producto
Artículos para el hogar    201
Deportes y diversión       277
Electrodomésticos          254
Electrónicos               451
Instrumentos musicales     170
Juguetes                   338
Libros                     187
Muebles                    480
Name: Producto, dtype: int64

# 3. Calificación promedio de la tienda

In [28]:
tienda  = tienda.assign(Tienda="Tienda 1")
tienda2 = tienda2.assign(Tienda="Tienda 2")
tienda3 = tienda3.assign(Tienda="Tienda 3")
tienda4 = tienda4.assign(Tienda="Tienda 4")

df_total = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

df_total["Calificación"] = pd.to_numeric(df_total["Calificación"], errors="coerce")

promedio_por_tienda = df_total.groupby("Tienda")["Calificación"].mean()

print("----Promedio de satisfaccion por tienda por Tienda----")

print(promedio_por_tienda)

----Promedio de satisfaccion por tienda por Tienda----
Tienda
Tienda 1    3.976685
Tienda 2    4.037304
Tienda 3    4.048326
Tienda 4    3.995759
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [ ]:


# Conteo por categoría
productos_por_categoria = (
    tienda
      .groupby("Categoría del Producto")["Producto"]
      .count()
      .sort_values(ascending=False)
)

# Convertir a tabla
tabla = productos_por_categoria.reset_index()
tabla.columns = ["Categoría", "Cantidad vendida"]

# Valores max y min
max_val = tabla["Cantidad vendida"].max()
min_val = tabla["Cantidad vendida"].min()

# Todas las categorías con max y min (empates)
categorias_mas_vendidas = tabla[tabla["Cantidad vendida"] == max_val]["Categoría"].tolist()
categorias_menos_vendidas = tabla[tabla["Cantidad vendida"] == min_val]["Categoría"].tolist()

print("----Resumen de ventas por categoría en Tienda 1----")
print(tabla)

print("\nRESUMEN:")
print(f"Categoría(s) más vendida(s): {categorias_mas_vendidas} ({max_val})")
print(f"Categoría(s) menos vendida(s): {categorias_menos_vendidas} ({min_val})")

----Resumen de ventas por categoría en Tienda 1----
                 Categoría  Cantidad vendida
0                  Muebles               465
1             Electrónicos               448
2                 Juguetes               324
3        Electrodomésticos               312
4     Deportes y diversión               284
5   Instrumentos musicales               182
6                   Libros               173
7  Artículos para el hogar               171

RESUMEN:
Categoría(s) más vendida(s): ['Muebles'] (465)
Categoría(s) menos vendida(s): ['Artículos para el hogar'] (171)

:

In [ ]:


# Conteo por categoría
productos_por_categoria = (
    tienda2
      .groupby("Categoría del Producto")["Producto"]
      .count()
      .sort_values(ascending=False)
)

# Convertir a tabla
tabla = productos_por_categoria.reset_index()
tabla.columns = ["Categoría", "Cantidad vendida"]

# Valores max y min
max_val = tabla["Cantidad vendida"].max()
min_val = tabla["Cantidad vendida"].min()

# Todas las categorías con max y min (empates)
categorias_mas_vendidas = tabla[tabla["Cantidad vendida"] == max_val]["Categoría"].tolist()
categorias_menos_vendidas = tabla[tabla["Cantidad vendida"] == min_val]["Categoría"].tolist()

print("----Resumen de ventas por categoría en Tienda 2----")
print(tabla)

print("\nRESUMEN:")
print(f"Categoría(s) más vendida(s): {categorias_mas_vendidas} ({max_val})")
print(f"Categoría(s) menos vendida(s): {categorias_menos_vendidas} ({min_val})")

----Resumen de ventas por categoría en Tienda 1----
                 Categoría  Cantidad vendida
0                  Muebles               442
1             Electrónicos               422
2                 Juguetes               313
3        Electrodomésticos               305
4     Deportes y diversión               275
5   Instrumentos musicales               224
6                   Libros               197
7  Artículos para el hogar               181

RESUMEN:
Categoría(s) más vendida(s): ['Muebles'] (442)
Categoría(s) menos vendida(s): ['Artículos para el hogar'] (181)

In [36]:


# Conteo por categoría
productos_por_categoria = (
    tienda3
      .groupby("Categoría del Producto")["Producto"]
      .count()
      .sort_values(ascending=False)
)

# Convertir a tabla
tabla = productos_por_categoria.reset_index()
tabla.columns = ["Categoría", "Cantidad vendida"]

# Valores max y min
max_val = tabla["Cantidad vendida"].max()
min_val = tabla["Cantidad vendida"].min()

# Todas las categorías con max y min (empates)
categorias_mas_vendidas = tabla[tabla["Cantidad vendida"] == max_val]["Categoría"].tolist()
categorias_menos_vendidas = tabla[tabla["Cantidad vendida"] == min_val]["Categoría"].tolist()

print("----Resumen de ventas por categoría en Tienda 3----")
print(tabla)

print("\nRESUMEN:")
print(f"Categoría(s) más vendida(s): {categorias_mas_vendidas} ({max_val})")
print(f"Categoría(s) menos vendida(s): {categorias_menos_vendidas} ({min_val})")

----Resumen de ventas por categoría en Tienda 3----
                 Categoría  Cantidad vendida
0                  Muebles               499
1             Electrónicos               451
2                 Juguetes               315
3        Electrodomésticos               278
4     Deportes y diversión               277
5                   Libros               185
6  Artículos para el hogar               177
7   Instrumentos musicales               177

RESUMEN:
Categoría(s) más vendida(s): ['Muebles'] (499)
Categoría(s) menos vendida(s): ['Artículos para el hogar', 'Instrumentos musicales'] (177)

In [38]:

# Conteo por categoría
productos_por_categoria = (
    tienda4
      .groupby("Categoría del Producto")["Producto"]
      .count()
      .sort_values(ascending=False)
)

# Convertir a tabla
tabla = productos_por_categoria.reset_index()
tabla.columns = ["Categoría", "Cantidad vendida"]

# Valores max y min
max_val = tabla["Cantidad vendida"].max()
min_val = tabla["Cantidad vendida"].min()

# Todas las categorías con max y min (empates)
categorias_mas_vendidas = tabla[tabla["Cantidad vendida"] == max_val]["Categoría"].tolist()
categorias_menos_vendidas = tabla[tabla["Cantidad vendida"] == min_val]["Categoría"].tolist()

print("----Resumen de ventas por categoría en Tienda 4----")
print(tabla)

print("\nRESUMEN:")
print(f"Categoría(s) más vendida(s): {categorias_mas_vendidas} ({max_val})")
print(f"Categoría(s) menos vendida(s): {categorias_menos_vendidas} ({min_val})")

----Resumen de ventas por categoría en Tienda 4----
                 Categoría  Cantidad vendida
0                  Muebles               480
1             Electrónicos               451
2                 Juguetes               338
3     Deportes y diversión               277
4        Electrodomésticos               254
5  Artículos para el hogar               201
6                   Libros               187
7   Instrumentos musicales               170

RESUMEN:
Categoría(s) más vendida(s): ['Muebles'] (480)
Categoría(s) menos vendida(s): ['Instrumentos musicales'] (170)

# 5. Envío promedio por tienda

In [ ]:
tienda  = tienda.assign(Tienda="Tienda 1")
tienda2 = tienda2.assign(Tienda="Tienda 2")
tienda3 = tienda3.assign(Tienda="Tienda 3")
tienda4 = tienda4.assign(Tienda="Tienda 4")

df_total = pd.concat([tienda, tienda2, tienda3, tienda4], ignore_index=True)

df_total["Costo de envío"] = pd.to_numeric(df_total["Costo de envío"], errors="coerce")

promedio_por_tienda = df_total.groupby("Tienda")["Costo de envío"].mean()

print("----Promedio de  costo de envio por tienda ----")

print(promedio_por_tienda)

NameError: name 'tienda' is not defined